.registration-form {
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 368px;
  }
}

.registration-form__fields {
  @include reset-list;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop) {
    order: 1;
    margin-bottom: 18px;
  }
}

.registration-form__field {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 18px;
  }
}

.registration-form__text-input {
  padding: 21px 20px 20px 28px;
  width: 100%;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid $grey;
  outline: $dark-grey;
  color: $dark-grey;

  &:focus,
  &:hover {
    border: 2px solid $dark-grey;
  }

  @media (min-width: $tablet) {
    padding-left: 23px;
  }

  @media (min-width: $desktop) {
    padding-left: 30px;
  }
}

.registration-form__personal-info {
  margin-bottom: 50px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    order: 3;
    margin-bottom: 55px;
  }
}

.registration-form__personal-info-label {
  position: relative;
  padding-left: 43px;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.34px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding-left: 35px;
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    padding-left: 41px;
    flex-direction: column;
  }
}

.registration-form__personal-info-link {
  color: $blue;
  cursor: pointer;
  outline: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.registration-form__submit {
  @include reset-button;
  padding: 25px 10px;
  margin-bottom: 55px;
  width: 100%;
  font-family: "Open Sans";
  font-size: 15px;
  color: $white;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $blue;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  @media (min-width: $tablet) {
    margin-bottom: 77px;
  }

  @media (min-width: $desktop) {
    order: 2;
    margin-bottom: 34px;
  }
}
