.sale {
  position: absolute;
  top: -53px;
  left: calc(50% - 55px);
  padding-top: 14px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  color: $white;
  background-color: $black;
  background: linear-gradient(165deg, $black 89%, transparent 88%) right,
    linear-gradient(195deg, $black 89%, transparent 89%) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    top: -20px;
  }
}

.sale__text {
  @include reset-text;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto-Bold";
  font-size: 14px;
  line-height: 30px;
}

.sale__size {
  font-size: 30px;
}

.sale__condition {
  @include reset-text;
  opacity: 0.7;
  text-transform: lowercase;
  font-family: "Roboto-Regular";
  font-size: 15px;
}
