@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2"),
    url("../fonts/Roboto-Regular.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.woff2"),
    url("../fonts/Roboto-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.woff2"),
    url("../fonts/Roboto-Light.woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
  url("../fonts/OpenSans-SemiBold.woff2"),
  url("../fonts/OpenSans-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
